.oracle-price{
  background-color: f8f8fb;
}

.apexcharts-yaxis, .apexcharts-toolbar{
  display: none !important;
}

.chart-description{
  margin-left: 145px;
  margin-top: -28px;
  opacity: 0.5;
}

.text-oracle{
  color: #4b47ff;
}

.text-market{
  color: #7cd9b8;
}

.bg-card{
  background-color: #f8f8fb;
}

.text-purple-400{
  color: #8f8fbc !important;
}

.font-mono{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
